[Unit]
Description=Scala Full Node
After=network.target

[Service]
User=scalaservices
Group=scalaservices
WorkingDirectory=/opt/scala-data-dir
Type=simple
LimitNOFILE=65535
ExecStart=/usr/bin/scalad --log-file /var/log/scalad.log --data-dir /opt/scala-data-dir --non-interactive
Restart=always
[Install]
WantedBy=multi-user.target
