[Unit]
Description=Scala Wallet RPC
After=network.target scalad.service

[Service]
User=scalaservices
Group=scalaservices
WorkingDirectory=/opt/scala-wallets
Type=simple
ExecStart=/opt/scala-bin/scala-wallet-rpc --wallet-file /opt/scala-wallets/woocommerce --rpc-bind-port 18080 --password-file /opt/scala-wallets/woocommerce.password --disable-rpc-login --log-file /var/log/scala-wallet.log
Restart=always

[Install]
WantedBy=multi-user.target
